/*Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/
@font-face {
    font-family: Retro;
    src: url("RetroCool-Regular.ttf");
}
@font-face{
    font-family: Lobster;
    src: url("Lobster.ttf");
}
@font-face {
    font-family: Goudy;
    src: url("goudy.ttf");
}
body {
    display: column;
    margin: 0 auto;
    text-align: center;
}
img {
    /* display: flex;
    justify-content: start;
    align-items: center; */
    width: 100px;
    width:  100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.gville-link{
    font-size: 20px;
}
h1, .gville-link{
    color: rgb(28, 28, 112);
    font-family: Retro, sans-serif;
    text-shadow: 2px 2px rgb(131, 89, 89);
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    font-size: 50px;
}
p{
    font-family: Goudy, sans-serif;
    font-size: 20px;
}
.flexHeader{
    text-align: center;
}
.text{
    /* text-align: center; */
    color: black;
    font-family: Goudy, sans-serif;
    font-weight: bold;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d5ddd3;
    padding-top: 10px;
    width: 100%; 
}
.photo{
    text-align: center;
    border: 2px solid rgb(28, 28, 112);
    transition: all .5s;
}
.photo:hover {
    transform: scale(1.2) rotate(360deg);
}

#header{
    background-image: url("images/granville-image1.jpg");
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* line-height: 100px; */
}
.gville-header{
    background: #F1FAEE;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    opacity: .93;
    font-size: 40px;
}
.paragraph-style{
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    background: #1D3557;
    padding: 5px 10px;
    font-family: Lobster, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: 1px 2px black;
    opacity: .95;
    max-width: 1000px;
}
.guide-section, .footer-style, p{
    font-family: Goudy, sans-serif;
}
a{
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: #290c7f;
  }
.gville-link:hover{
    color: rgb(10, 9, 7)
}
